* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color:cornflowerblue
}

div {
    position: relative;
    top: 30px;
    left: 15px;
}

.nadpis {
    font-size: 50px;
    background-color: rgba(128, 128, 128, 0.614);
    border-radius: 10px;
    padding-left: 10px;
    width: 540px;
}